
.card {
border-radius: 8px; /* Opcional: bordas arredondadas */
overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites da borda */
height: 100%; /* Faz com que o card ocupe a altura total do grid-wrapper */
background-color: #fff;
}

.card:hover {
transform: scale(1.05);
transition: transform 0.3s;
cursor: pointer;
}

.grid-wrapper {
border: 5px solid #04ac8c; /* Borda ao redor da grid */
border-radius: 12px; /* Opcional: bordas arredondadas */
padding: 20px; /* Espaço entre a borda e o card */
background-color: #fff; /* Cor de fundo do contêiner da borda */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra leve para destaque */
width: 100%; /* Garante que o grid-wrapper ocupe toda a largura disponível da coluna */
height: 400px; /* Altura fixa padrão para o contêiner */
margin: 0 auto; /* Centraliza o contêiner dentro da coluna */
}

.home-page .card { background-color: #04ac8c; /* Cor de fundo específica para a página inicial */}
.home-page .card-title{ color: #fff;}
.home-page .card-text{ color: #fff;}
.noticias .card{ background-color: #fff;}
.noticias .card-title {color: #000;}
.noticias .card-text { color: #000;}

.exam-card { margin-bottom: 20px;}