/* Resetando margens e preenchimentos */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body { font-family: 'SkolaSans-Regular', sans-serif;}

header {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    padding: 0;
    box-shadow: 0 0 0 3px #04ac8c; 
}

/* Estilo para links dentro do header */
header a:hover {
    color: #04ac8c;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.10s;
}


main {
background-color: #fff; /* Cor de fundo principal */
margin-top: 0px ; /* se remover fica como no modelo, se ficar as outras paginas ficam com titulo no topo */
}

.home-page {
/* Remove margin-top apenas para a página inicial */
margin-top: 0;
}

.pagina {
/* Aplica margin-top para outras páginas */
margin-top: 100px; /* Ajuste conforme necessário */
}

.banner {
    width: 100%; /* Largura total da página */
    height: 515px; /* Altura desejada */
    overflow: hidden; /* Oculta qualquer parte da imagem que ultrapasse a div */
    position: relative; /* Posiciona a imagem dentro da div */
}

.logo-img {
max-height: 60px;
width: auto;  /* Mantém a proporção da imagem */
}

.img-border {
border: 2px solid #04ac8c; /* Cor verde escuro */
border-radius: 4px;       /* Arredondamento dos cantos */
padding: 4px;             /* Espaçamento entre a imagem e a borda */
width: 120px;              /* Largura das imagens */
height: auto;            /* Altura automática para manter a proporção */
}

/* Espaçamento entre as imagens */
.list-unstyled > li {
margin-right: 15px;      /* Espaçamento entre as imagens */
}


a {
    color: #000;
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  a:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
  
  .table-logo img {
      width: 100px;
      height: auto;
  }
  .table-logo td {
      text-align: center;
      vertical-align: middle;
  }
  
  .sidebar { padding: 20px;}
  .sidebar .nav-link { font-weight: normal;}
  
  
  .btn-outline-success{
      background-color: #fff;
      border:#04ac8c;
      color: #000;
      border-radius: 5px;
      padding: 10px 10px;
      text-decoration: none;
      transition: background-color 0.3s;
  }
  
  .btn-3d {
      display: inline-block;
      padding: 10px 10px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background-color: #04ac8c; 
      border: none;
      border-radius: 5px;
      text-decoration: none;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .btn-3d:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
      transform: translateY(-2px);
  }
  
  .href{color: rgb(0, 0, 255);}
  
  