
/* Responsividade telas maiores*/
@media only screen and (min-width: 1200px) {

  .desk-hide {
  display: none;
  }
  
  .main-nav {
  font-size: 17px;
  justify-content: center;
  background-color: transparent;
  }
  
  .main-nav > ul {
  display: flex;
  justify-content: center; 
  margin: 0;
  }
  
  .main-nav > ul > li {
  display: inline-block;
  position: relative;
  }
  
  .main-nav > ul > li:last-child {
  margin: 0;
  }
  
  .main-nav > ul > li.submenu:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  right: 7px;
  top: 24px;
  pointer-events: none;
  }
  
  .main-nav > ul > li > a { 
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
  }
  
  .main-nav > ul > li:hover > a {
  color: #000;
  background: #fff;
  }
  
  .main-nav > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  }
  
  .main-nav > ul > li ul {
  position: absolute;
  margin: 0;
  padding: 0;
  background: #fff;
  width: 250px;
  visibility: hidden;
  opacity: 0;
  font-size: 14px;
  display: block !important;
  }
  
  .main-nav > ul > li ul li {
  display: block;
  border-bottom: 1px solid #000000;
  position: relative;
  }
  
  .main-nav > ul > li ul li:last-child {
  border: 0;
  }
  
  .main-nav > ul > li ul li a {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  }
  
  .main-nav > ul > li ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  left: 250px;
  top: 0;
  }
  
  .main-nav > ul > li ul li:hover > a {
  background: #04ac8c;
  color: #fff;
  }
  
  .main-nav > ul > li ul li.submenu::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 5px solid transparent;
  border-left: 6px solid #000000;
  border-top: 5px solid transparent;
  right: 11px;
  top: 20px;
  pointer-events: none;
  }
  
  .mob-btn {display: none;}
  
  }
  
  
  /* Responsividade para telas menores */
  @media only screen and (max-width: 1199px) {
  
  .main-nav {
  position: fixed;
  width: 250px;
  top: 0;
  right: -250px;
  background: #ffffff;
  height: 100%;
  transition: all ease 0.2s;
  z-index: 1005;
  overflow-y: auto;
  }
  
  .main-nav ul {
  margin: 0;
  padding: 0;
  display: block;
  margin-top: 0px;
  }
  
  .main-nav ul.mnav {
  margin-bottom: 30px;
  }
  
  .main-nav ul li {
  display: block;
  border-bottom: 1px solid #6fa57d;
  position: relative;
  text-transform: capitalize;
  font-size: 15px;
  }
  
  .main-nav ul li span { display: none;}
  
  .main-nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  display: block;
  padding: 10px;
  padding-right: 40px;
  }
  
  .main-nav ul li a:hover {
  background-color: #04ac8c;
  color: #ffffff;
  }
  
  .main-nav ul li.submenu i {
  position: absolute;
  width: 43px;
  height: 39px;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all ease 0.5s;
  }
  
  .main-nav ul li.submenu i:after {
  content: "";
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000000;
  position: absolute;
  right: 17px;
  top: 20px;
  z-index: 10;
  }
  
  .main-nav ul ul {
  margin: 0;
  display: none;
  }
  
  .main-nav ul ul li:last-child { border-bottom: 0;}
  .main-nav ul ul li:first-child { border-top: 1px solid #000;}
  .main-nav ul ul li a { padding-left: 20px;}
  .main-nav ul ul li ul a { padding-left: 30px;}
  
  .show-menu .main-nav { right: 0;}
  .show-menu .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1001;
  }
  
  .mob-btn {
  display: block;
  position: absolute;
  float: right;
  padding: 5px 7px;
  margin: 0px;
  background-color: #04ac8c;
  cursor: pointer;
  right: 15px;
  top: 23px;
  }
  
  .mob-btn span {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background: #fff; 
  }
  
  .mob-btn span + span { margin-top: 5px;}
  
  .footer-background {
      background: url('img/bg_footer_mobile.png') no-repeat center center;
      background-size: cover; /* Ajusta o tamanho do fundo para cobrir o elemento */
      background-attachment: fixed; /* Fixa o background durante o scroll */
      height: auto; /* Ajusta a altura automaticamente com base no conteúdo */
      padding: 20px 0; /* Adiciona algum espaçamento interno, se necessário */
  }
  
  }