header{
    background-color: #4b875a;
}

main{
    background-color: #daffe7;
}

footer{
    background-color: #4b875a;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}
.card-title{
    color: #000;
}

.card-text{
    color: #000;
}
header a:hover{
    color: #4b875a;
    background-color: #fff;
    border-radius: 15px;
    transition: 0.5s;
}

footer a:hover{
    color: #daffe7;
    border-radius: 15px;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}

.btn-outline-success{
    background-color: #fff;
    border:#4b875a;
    color: #000;
    border-radius: 5px;
    padding: 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}


.btn-3d {
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #28a745; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, transform 0.3s;
}

.btn-3d:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px);
}

.href{
    color: Blue;
}

.exam-card {
    margin-bottom: 20px;
}