@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Resetando margens e preenchimentos */
* {margin: 0;padding: 0;box-sizing: border-box;}

header{position: fixed; top: 0; left: 0; width: 100%; z-index: 1000; padding: 0 0; background: linear-gradient(0deg, rgba(4,172,140,0) 0%, rgba(4, 172, 141, 0) 100%);}
header a:hover{color: #344d0e; background-color: #fff; border-radius: 5px; transition: 0.10s;}  

main {background-color: #ffffff; margin-top: 0px ; }

/*Main da pagina home*/
.home-page {margin-top: 0;}

/*banner*/
.banner {overflow: hidden; position: relative; }
.banner img { display: block; width: 100%; height: 50%;}



.logo-img {max-height: 90px; width: auto; background-color: transparent;}
.img-border {border: 2px solid #344d0e; border-radius: 4px; padding: 4px; width: 120px; height: auto;}

/* Espaçamento entre as imagens */
.list-unstyled > li { margin-right: 15px; }

a {color: #000; text-decoration: none; transition: transform 0.3s ease, box-shadow 0.3s ease;}
a:hover {transform: scale(1.05); box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);}

.table-logo img {width: 100px; height: auto;}
.table-logo td {text-align: center; vertical-align: middle;}

.btn-outline-success{background-color: #fff; border:#344d0e; color: #000; border-radius: 5px; padding: 10px 10px; text-decoration: none; transition: background-color 0.3s;}
.btn-3d {display: inline-block; padding: 10px 10px; font-size: 16px; font-weight: bold; color: #fff; background-color: #344d0e;  border: none; border-radius: 5px; text-decoration: none; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); transition: box-shadow 0.3s, transform 0.3s;}
.btn-3d:hover {box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3); transform: translateY(-2px);color: #fff}

/* Navbar container */
.navbar { display: flex; justify-content: space-between; align-items: center; background-color: transparent; width: 100%; padding: 0 20px;}
.navbar.scrolled { top: 0; left: 0; width: 100%; z-index: 1000; background: url('img/1.png') no-repeat 100% 100%; background-size: 100% auto;}

/* Logo container */
.navbar-brand {display: flex; align-items: center; margin-left: 50px;}
.navbar-brand:hover {color: inherit; background-color: transparent;box-shadow: none;}

/* Carousel */
.carousel .carousel-inner {position: relative; width: 100%; overflow: hidden;}
.carousel-item.active {display: block;}
.carousel-indicators {display: none;}
.carousel::before {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: radial-gradient(circle, rgba(4, 172, 140, 0) 78%, rgba(4, 172, 141, 0) 100%); pointer-events: none; z-index: 1;}
.carousel-buttons { position: absolute; top: 35%; right: 72px; display: flex;  flex-direction: column; gap: 10px; z-index: 1000; transform: translateY(-50%);}
.carousel-control-prev, .carousel-control-next {width: 70px; height: 130px; background-color: #344d0e; color: #fff; display: flex; align-items: center; justify-content: center; transition: none;}
.carousel-control-prev:hover, .carousel-control-next:hover {background-color: #344d0e;  opacity: 1; transition: none; box-shadow: none;}
.carousel-control-prev-icon, .carousel-control-next-icon {background-size: 100%; width: 20px; height: 20px; background-repeat: no-repeat; color: #fff; transform: rotate(180deg);}
.carousel-container {position: relative; border-bottom: 9px solid #344d0e; border-right: 9px solid #344d0e; overflow: hidden; clip-path: polygon(0 0, 100% 0, 100% 10%, 90% 100%, 0 100%);}


/* Main navigation styling */
.main-nav {flex: 1; text-align: left; align-items: center; background-color: transparent;}
.main-nav li {display: inline-block; color: #fff;}
.main-nav a { text-decoration: none;}
.main-nav ul {list-style: none; padding: 0; margin: 0; display: inline-block; background: transparent; transition: background-color 0.10s; }

/* Cards */
.card {border-radius: 8px; overflow: hidden; height: 100%; background-color: #fff;}
.card:hover {transform: scale(1.05); transition: transform 0.3s; cursor: pointer;}
.exam-card { margin-bottom: 20px;}
.grid-wrapper {border: 5px solid #344d0e; border-radius: 12px; padding: 20px; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 100%; height: 400px;
margin: 0 auto;}
.home-page .card { background-color: #344d0e;}
.home-page .card-title{ color: #fff;}
.home-page .card-text{ color: #fff;}
.noticias .card{ background-color: #fff;}
.noticias .card-title {color: #000;}
.noticias .card-text { color: #000;}

/* Estilo para o botão WhatsApp */
#robbu-whatsapp-button {position: fixed; bottom: 100px;right: 20px;  z-index: 9999;}


/* Footer*/
footer {background-color: transparent; padding: 20px 0 0 0; min-height: 100px; text-align: center; }
footer a:hover{color: #000;border-radius: 15px;transition: 0.5s;}
.footer-background {background: url('img/bg_footer.png') no-repeat center center;position: relative;color: white;background-size: 100%; height: 310px; padding: 20px;}
.footer-background::before {content: ""; position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgb(52, 77, 14, 0.8); z-index: 1;}
.footer-background > * {position: relative;z-index: 2;}


/* Responsividade telas maiores*/
@media only screen and (min-width: 1200px) {

.desk-hide {display: none;}

.main-nav {font-size: 17px; display: flex; justify-content: right; align-items: center; padding: 10px 20px; margin: 0 auto; width: 40%; height: 70px; border-radius: 5px; text-align: left; position: fixed; right: 400px; z-index: 1000; transition: background-color 0.3s ease;}
.main-nav a {color: #fff; text-decoration: none; padding: 0 10px; margin-right: 0; transition: color 0.3s ease; }
.main-nav a:last-child {margin-right: 0; }
.main-nav > ul {display: flex; justify-content: right; padding-right: 5px; margin: 0; list-style: none; padding: 10;}
.main-nav > ul > li {display: inline-block; margin-right: 10px; border: 2px solid #fff; border-radius: 5px; padding: 0; background-color: #344d0e;}
.main-nav > ul > li:last-child {margin: 0;}
.main-nav > ul > li.submenu:after {content: ""; position: absolute; height: 0; width: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; right: 7px; top: 24px; pointer-events: none;}
.main-nav > ul > li > a {color: #fff; display: block; padding: 10px 20px; text-decoration: none; font-size: 15px;}
.main-nav > ul > li:hover > a {color: #000; background: #fff;}
.main-nav > ul > li:hover > ul {visibility: visible; opacity: 1; z-index: 1;}
.main-nav > ul > li ul {position: absolute; margin: 0; padding: 0; background: #fff; width: 250px; visibility: hidden; opacity: 0; font-size: 14px; display: block !important;}
.main-nav > ul > li ul li {display: block; border-bottom: 1px solid #000000; position: relative;}
.main-nav > ul > li ul li:last-child {border: 0;}
.main-nav > ul > li ul li a {padding: 15px 20px; display: block; text-decoration: none; font-size: 15px; color: #000;}
.main-nav > ul > li ul li:hover > a {background: #344d0e;color: #fff;}
.main-nav > ul > li ul li:hover > ul {visibility: visible; opacity: 1; left: 250px; top: 0;}
.main-nav > ul > li ul li.submenu::after {content: ""; position: absolute; height: 0; width: 0; border-bottom: 5px solid transparent; border-left: 6px solid #000000; border-top: 5px solid transparent; right: 11px; top: 20px; pointer-events: none;}

.mob-btn {display: none;}

}

/* Responsividade para telas menores */
@media only screen and (max-width: 1199px) {

.main-nav {position: fixed; width: 250px; top: 0; right: -250px; background: #ffffff; height: 100%; transition: all ease 0.2s; z-index: 1005; overflow-y: auto;}
.main-nav ul {margin: 0; padding: 0; display: block; margin-top: 0px;}
.main-nav ul.mnav {margin-bottom: 30px;}
.main-nav ul li {display: block; border-bottom: 1px solid #344d0e; position: relative; text-transform: capitalize; font-size: 15px;}
.main-nav ul li span { display: none;}
.main-nav ul li a {color: #000; text-decoration: none; font-size: 1em; display: block; padding: 10px; padding-right: 40px;}
.main-nav ul li a:hover {background-color: #344d0e; color: #ffffff;}
.main-nav ul li.submenu i {position: absolute;width: 43px; height: 39px; top: 0; right: 0; cursor: pointer; transition: all ease 0.5s;}
.main-nav ul li.submenu i:after {content: ""; height: 0; width: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 6px solid #000000; position: absolute; right: 17px; top: 20px; z-index: 10;}
.main-nav ul ul {margin: 0; display: none;}
.main-nav ul ul li:last-child { border-bottom: 0;}
.main-nav ul ul li:first-child { border-top: 1px solid #000;}
.main-nav ul ul li a { padding-left: 20px;}
.main-nav ul ul li ul a { padding-left: 30px;}
.main-nav ul li.active ul {display: block;}

.show-menu .main-nav {right: 0;}
.show-menu .overlay {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); z-index: 1001;}

.mob-btn {display: block; position: absolute; float: right; padding: 5px 7px; margin: 0px; background-color: #344d0e; cursor: pointer; right: 15px; top: 23px; }
.mob-btn span {display: block; width: 25px; height: 2px; border-radius: 1px; background: #fff;}
.mob-btn span + span { margin-top: 5px;}

.carousel-buttons {display: none;}
.carousel-buttons {top: 13%; right: 33px; gap: 5px;}
.carousel-control-prev, .carousel-control-next { width: 30px; height: 30px;}
.carousel-control-prev-icon, .carousel-control-next-icon {width: 10px; height: 10px;}

.footer-background {background: url('img/bg_footer_mobile.png') no-repeat center center; background-size: cover; background-attachment: fixed; height: auto; padding: 20px 0;}

}